
research/.idea/inspectionProfiles/profiles_settings.xml

research/.idea/misc.xml

research/.idea/modules.xml

research/.idea/research.iml

research/.idea/vcs.xml

research/.idea/workspace.xml

research/C\+\+/.idea/C\+\+.iml

research/C\+\+/.idea/modules.xml

research/Python/.idea/inspectionProfiles/profiles_settings.xml

research/Python/.idea/misc.xml

research/Python/.idea/Python.iml

research/Python/.idea/vcs.xml

research/Python/.idea/modules.xml

research/Python/data/datasets/housing/housing.tgz

research/Python/data/P1_Facial_Keypoints/

research/Python/global_earthquakes.html
